<h1>Voici le restaurant selectionné</h1>

<div>
<%= image_tag @resto.picture_url, size: '200x100' %>
</div>

<p>
<%= @resto.description %>
</p>

<%= link_to "DESTROY", resto_path(@resto), method: "delete", confirm: "T'es sûr bobby?" %>

<%= link_to 'Back', restos_path %>


<p>comments
  <ul>
    <%@resto.comments.each do |comment| %>
    <li> <%= comment.body %> </li>
    <%= link_to 'supprimer', comment_path(comment), method: 'delete' %>
    <% end %>
  </ul>
</p>


<%= form_for(@resto.comments.build) do |f| %>
  <%= f.hidden_field :resto_id %>
  <%= f.label :body, "ajouter votre commentaire" %>
  <%= f.text_area :body %>
  <%= f.submit "commenter" %>
<% end %>